body {
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    background-color: black;
}

#stats {
    font-family: monospace;
    position: absolute;
    top: 0px;
    left: 0px;
    color: white;
    background-color: #0008;
    padding: 1rem;
}

#stats td,
#stats tr,
#stats {
    border: 1px solid white;
    border-collapse: collapse;
}

#canvas {
    aspect-ratio: 16/9;
}